# Python Virtual Environment
.venv/
venv/
env/
__pycache__/
*.py[cod]

# Node/NPM
node_modules/

# VS Code
.vscode/

# Pywikibot specific
user-password.py
pywikibot-*.lwp
throttle.ctrl
apicache/
logs/

# Optional: PyWikiBot fetched data
# Un-comment to ignore Wiki fetched pages and assets
# images/
# pages/
# families/

# macOS
.DS_Store

# Vsix Package for wikiparser Workaround
wikiparser.vsix